{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!-- Courses -->
 <section id="courses">
     <div class="container">
         <div class="row">

             <div class="col-md-12 col-sm-12">
                 <div class="section-title">
                     <h2>Popular Courses <small>Upgrade your skills with newest courses</small></h2>
                 </div>

                 <div class="owl-carousel owl-theme owl-courses">
                 {% for course in courses  %}
                     <div class="col-md-4 col-sm-4">
                         <div class="item">
                             <div class="courses-thumb">
                                 <div class="courses-top">
                                     <div class="courses-image">
                                         <img src="{{course.course_pic.url}}" class="img-responsive" alt="">
                                     </div>
                                     <div class="courses-date">
                                         <span><i class="fa fa-calendar"></i>{{course.date_created}}</span>
                                         <span><i class="fa fa-clock-o"></i> {{course.duration}} Hours</span>
                                     </div>
                                 </div>

                                 <div class="courses-detail">
                                     <h3><a href="#" target="_blank">{{course.course_title}}</a></h3>
                                     <p>{{course.course_content}}</p>
                                 </div>

                                 <div class="courses-info">
                                     <div class="courses-author">
                                         <img src="{{course.course_tutor_pic.picture.url}}" class="img-responsive" alt="">
                                         <span>{{course.course_tutor.name}}</span>
                                     </div>
                                     <div class="courses-price">
                                         <a href="#"><span>{{course.course_price}}</span></a>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     {% endfor %}
                 </div>
             </div>
             <br><br>
            <div id="fh5co-started" style="background-image:url(images/img_bg_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2>Lets Get Started</h2>
                        <p>Become a Tutor today by creating a course. A course will be accepted when it is doesn't violate our rules of engagement.</p>
                    </div>
                </div>
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <p><a href="{% url 'pricing' %}" class="btn btn-default btn-lg">Create A Course</a></p>
                    </div>
                </div>
                <br><br><br>
                </div>
	        </div>
         </div>
 </section>
{% endblock content %}